* {
  margin: 5px;
  padding: auto;
  box-sizing: border-box;
  background-color: #00b4eb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 768px) {
  
}

.navbar h1, .navbar h3{
  color: white;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.circle-icon {
  width: 42px;
  height: 42px;
  background: #D9D9D91A;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid #FFFFFF7F;
} 

.circle-icon svg {
  width: 20px;
  height: 20px;
}

.reqcard{
  width: 500px;
  height: 225px;
  border: 0;
  border-radius: 20px;
  background-color: #fff;
  padding: 10px;
}

.reqcard h2, .reqcard p {
  background-color: #fff;;
}

.reqcard button {
  background-color: #0056a2;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 8px;
  outline: none;
}

.reqcard button:hover {
  background-color: lightblue;
}

.reqcard button:active {
  background-color: #50b748;
}
.btnlink {
  outline: none;
}

.regform {
  max-width: 1000px;
  background-color: lightblue;
  margin: 0 auto; 
  box-sizing: border-box;
  border-radius: 25px;
  padding: 50px;
  text-align: center;
}

.regform h2 {
  color: #0056a2;
  background-color: lightblue;
  text-align: center;
}

.regform h4 {
  color: #0056a2;
  background-color: lightblue;
  text-align: left;
}

.regform img {
  width: 350px;
  height: 250px;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.regform label{
  background-color: lightblue;
  font-weight: bold;
  color: #0056a2;
  text-align: left;
  display: block;
}

.regform input, .regform select {
  width: 90%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 2px solid #0056a2;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  color: #0056a2;
  background-color: lightblue;
}

.regform button {
  background: #0056a2;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.imgmarquee img {
  width: 300px;
  height: 250px;
}

.footer p {
  color: white;
  text-align: center;
}

.footer icon {
  text-align: center;
}

.contact p {
  text-align: center;
  font-size: 40px;
  color: #0056a2;
}